In [39]:
import pandas as pd 
import numpy as np

In [40]:
df = pd.read_csv("KSM X VSA VB ROUNDABOUT COLLAB - Form Responses 1.csv")

In [41]:
players = df["What is your name"].dropna().to_list()
players.append("Missing Person")
np.random.shuffle(players)
teams = [players[i:i + 6] for i in range(0, len(players), 6)]

In [42]:
outteams = pd.DataFrame() 
for i in range(len(teams)):
    teamname = "Team " + str(i +1)
    outteams[teamname] = teams[i]

In [43]:
outteams

,Team 1,Team 2,Team 3,Team 4,Team 5,Team 6
0,Daniel Odulio,Paris Ar,Brian Ngo,Aryan,MJ Lequin,Cyrus Jahromi
1,SarahAnn Bu,Logan Gallagher,Tri nguyen,Michelle Cruzat,Daniel Cao,Elaine De Jesus
2,Jerson Tiangson,Joy Juang,Truongan Nguyen,Nate Lai-Quong,Missing Person,Edward Kim
3,Preston Luong,Josh Gonzales Barrios,Christina Do,Sofia Domenech,Simon Yang,Benjamin Lin
4,Earl Lequin,Dylan Le,Asa Huang,Rielee Yava,Al Pagar,Francis Legarde
5,Aiah Bayna,Leon Tran,Kaw Bu,Austin Vu,Nicole Cui,Beatrice Sangangbayan

In [44]:
outteams.to_csv("teams.csv")